header{
	background-color: $header-color-bg;
	box-shadow: 0 4px 8px; 
	h1{
		font-family: $header-heading-font;
		font-size: 6em;
		color: $header-heading-color;
		text-shadow: -2px -2px 4px black;
	}
}